@model IEnumerable<mvcOne.Models.Person>

@{
    ViewBag.Title = "hello";
}

<h2>hello</h2>

<ul>
    @foreach (mvcOne.Models.Person p in Model)
    {
        <li>@p.PersonName + ", id: " + @p.PersonID.ToString()</li>
    }
    
</ul>